*{
  margin: 0;
  padding: 0;
}

body{
  
  display: flex;
  flex-direction: column;
  color: rgb(56, 55, 55);
  font-family: 'Rubik', sans-serif;
  font-weight:  700;

}


header{
  background-color: white;
  padding: 20px;
  
}

main{
  flex: 1;
  min-height: 83vh;
  background-color: rgb(240, 240, 240);
  padding-bottom: 20px  ;
  
}

footer{
  background-color: lightblue;
  padding: 20px;
}

nav{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px;
  height: 40px;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px;
}

nav ul li{
  margin: 0 15px;
}

nav ul li a {
  margin: 0px;
  padding:  0px;
  text-decoration: none;
  color: rgb(56, 55, 55);
  transition: font-size 0.2s; 
  

}

nav ul li a:hover {
   font-size: 20px;

}

/* Home page */

.home-header-div {

  position: relative;
  display: inline-block;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.home-header-div-text{

  position: absolute;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  padding: 40px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  border-radius: 20px;

}

.home-header-div-text h1 , .home-header-div-text p {

  margin: 20px;
}

.home-header-div img{

  height: 900px;
  width: 100%
}


.home-main-div{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}

.home-content-div{
  height: 520px;
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.home-content-div-text{
   
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

 
.home-content-div-text-header{
  font-size: 13px;
  margin-bottom: 40px;
}

 


.home-content-div-text p{
  
  width: 370px;
  font-size: 20px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  
}

.home-content-div-img{
 
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-content-div-img img{
  width: 90%; 
}
 

/* Facilities page */

.Facilities-main-div  {
   
  padding: 80px 300px;
 
  
}


.Facilities-div  {
   
  padding: 80px 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.Facilities-div h2 , .Facilities-div h1 {

  margin: 30px 20px;

}

.Facilities-div p{
  margin: 20px;
  font-size: 20px;
}

.Facilities-div-img  {

  display: flex;
  justify-content: center;
  

}

.Facilities-div-img  img{
  
  width: 500px;
  margin: 40px;
}

/* ContactUs page */

.ContactUs-main-div{

  padding: 80px 300px;
 
  
}

.ContactUs-div{

  padding: 80px 30px;
  background-color: white;
  border-radius: 20px;
  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  
}

.ContactUs-div ul{

  list-style: none;
}

.ContactUs-div h1 , 
.ContactUs-div h2 ,
.ContactUs-div p,
.ContactUs-div ul{
  margin: 30px 20px;
   
}

.ContactUs-div p , .ContactUs-div ul{
  font-size: 20px;
  
}

.Contact-form {
  margin: 40px;
  padding: 0px 400px 80px  400px;
  font-size: 20px;
  


}

.Contact-form h1{
  margin-bottom: 40px;
}

.Contact-form label,
.Contact-form input
{

  display: block;
  height: 30px;
  width: 400px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  font-size: 20px;

}


.Contact-form textarea {
  display: block;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  border-style: none;
  padding: 5px;
  font-size: 20px;
}
.Contact-form textarea {
  height: 100px;
}
.Contact-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}
.Contact-form button:hover {
  background-color: #45a049;
}


@media(max-width: 700px){
   
  nav{
    flex-direction: column;
    height: 50px;
  }

  nav h1{
    flex: 1;
  }
  nav ul{
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    
    
  }
  
  nav ul li{
    margin-bottom: 40px;
    flex:1;
    font-size: 16px;
    height: 30px;
    text-align: center;
    justify-content: center;
  }
  
 
  nav ul li a:hover {
    text-align: center;
    font-size: 19px;
  }

  
  
  .home-header-div-text{
  
    
    width: 80%;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
  
  }
 
  .home-header-div img{
  
    height: 300px;
    width: 100%
  }

  .home-content-div{
    height: 200px;
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .home-content-div-text-header{
    font-size: 13px;
     
  }
  
   
  
  .home-content-div-text p{
    
    
    font-size: 12px;
    margin-bottom: 20px;
    width: 80%;
    
    
  }
  
 
  .home-content-div-img img{
    display: none;
  }
   
   
}


@media(max-width: 1300px) and (min-width: 701px){
   
 
  nav{
    flex-direction: column;
    height: 50px;
  }

  nav h1{
    flex: 1;
  }
  nav ul{
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    
    
  }
  
  nav ul li{
    margin-bottom: 40px;
    flex:1;
    font-size: 16px;
    height: 30px;
    text-align: center;
    justify-content: center;
  }
  
 
  nav ul li a:hover {
    text-align: center;
    font-size: 19px;
  }

  

  
  
  .home-header-div-text{
  
    
    width: 70%;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
  
  }
 
  .home-header-div img{
  
    height: 550px;
    width: 100%
  }


  .home-main-div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
  }
  
  .home-content-div{
    height: 220px;
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
   
  
   
  .home-content-div-text-header{
    font-size: 18px;
     
  }
  
   
  
  
  .home-content-div-text p{
    
    
    font-size: 15px;
    margin-bottom: 20px;
    
    
  }
  
 
  
  .home-content-div-img img{
    display: none;
  }
   
}


@media(max-width: 1600px) and (min-width: 1301px){
   

  nav{
    flex-direction: column;
    height: 50px;
  }

  nav h1{
    flex: 1;
  }
  nav ul{
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    
    
  }
  
  nav ul li{
    margin-bottom: 40px;
    flex:1;
    font-size: 16px;
    height: 30px;
    text-align: center;
    justify-content: center;
  }
  
 
  nav ul li a:hover {
    text-align: center;
    font-size: 19px;
  }

  
  
  .home-header-div-text{
  
    
    width: 60%;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
  
  }
 
  .home-header-div img{
  
    height: 650px;
    width: 100%
  }


  .home-main-div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
  }
  
  .home-content-div{
    height: 400px;
    width: 70%;
    display: flex;
 
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
   
  
   
  .home-content-div-text-header{
    font-size: 20px;
     
  }
  
   
  
  
  .home-content-div-text p{
    
    
    font-size: 15px;
    margin-bottom: 20px;
    
    
  }
  
 
  
  .home-content-div-img img{
    width:  90%;
  }
   
}

@media(max-width: 1600px) and (min-width: 1501px){
   
 
 
  
  .home-header-div-text{
  
    
    width: 60%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
  
  }
 
  .home-header-div img{
  
    height: 700px;
    width: 100%
  }


  .home-main-div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
  }
  
  .home-content-div{
    height: 400px;
    
    display: flex;
    width: 80%;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
   
  
   
  .home-content-div-text-header{
    font-size: 20px;
     
  }
  
   
  
  
  .home-content-div-text p{
    
    
    font-size: 15px;
    margin-bottom: 20px;
    
    
  }
  
 
  
  .home-content-div-img img{
    width: 500px;
  }
   
}